wandb/
*/__pycache__/
checkpoints/
.venv/
.neptune/
.ipynb_checkpoints/
.idea/
open_earth_map/
segment-anything/
imgs/
*/.ipynb_checkpoints/
*/.idea/
*/.git/
*/.gitignore
*/.DS_Store
*/.vscode/
*/.vs/
*/.cache/
*/.pytest_cache/


